
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/style.css">
<title>Sleep++</title>

</head>
<body> 
<div id="antiburnin"></div>
<div id="soundcal"><div id="intro">
Now we're ready to start the sleep mode. You should start this when you are ready to go to bed--if you're not yet you can come back by later visiting sleepplus.appspot.com <br><br> The first step is to calibrate the sound volume. Place the device on your mattress, in the same place it will be while you sleep. Lie down in your bed and then tap the "Calibrate sound" button.<br>
<button id="startcalibration" onclick="startcal()">Calibrate sound</button></div>

<div id="soundReport" style="visibility:hidden"><br>Tap the button below as soon as you hear the device make a sound. Make sure the device is unmuted. It may take a minute before the sound is played.<br>
<button id="report" onclick="reportSound()" style="height:10%;width:75%">I heard a sound</button><br><br>
<button id="restart" onclick="location.reload();" style="height:10%;width:75%">Restart calibration</button></div></div>

<div id="testMotion" style="visibility:hidden"><br>Now we need to activate your device's motion sensor. To start, click the button below. You might be prompted to allow access to the sensor.<br>
<button id="motion" onclick="testMotion()" style="height:10%;width:75%">Activate motion sensor</button></div>
<br>
<div id="startsleep" style="visibility:hidden">All set! We're ready for you to go to sleep. Place the phone on the bed with the screen on (you can place it facedown). We also recommend keeping the phone connected to the charger.<br> When you wake up in the morning, tap the button below.
<br><button id="wakebutton" onclick="wake()" style="height:10%;width:75%">I'm awake<br>
</button>
</div>
<br>
<div id="waitdt" style="visibility:hidden"><br> One minute...we're saving your sleep data.<br><img src="../static/spinner.gif" height="200" width="200"></div>
<!--<button id="test" >Test sound</button>-->
</body>


<script src="../static/NoSleep.js"></script>
<script>

	// Print url variables
	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
			function(m, key, value) {
				// Decode URI
				key = decodeURIComponent(key);
				value = decodeURIComponent(value);
				vars[key] = value;
			});

		
		
		return vars;
	}

const urlParams = new URLSearchParams(window.location.search);
var condition=-1;
var arousal=false;
var arousalMax = 6;
//const keyword = getUrlVars()["keyword"] || getCookie("keyword");
const neutralKeyword = getUrlVars()["neutralKeyword"] || getCookie("neutralKeyword");
const negativeKeyword = getUrlVars()["negativeKeyword"] || getCookie("negativeKeyword");

const setCondition = getUrlVars()["condition"] || getCookie("condition");

// validate condition is either 0, 1 or 2
if (setCondition != 0 && setCondition != 1 && setCondition != 2) {
	alert("Invalid condition");
	window.location.replace("/"); // Redirect to sign up
}
else {
	condition = setCondition;
	// Set cookie
	setCookie("condition",condition,365*2);
}

// TODO sign up page

// If we have cookies or url vars then good to go

// If we don't have cookies or url vars then redirect to sign up page for experiment

if (!(neutralKeyword && negativeKeyword)) {
	alert("Invalid or missing keywords");
	window.location.replace("/"); // sign up page 
}
if (!condition) {
	alert("Invalid or missing condition");
	window.location.replace("/"); // sign up page
}

var keyword = getCookie("keyword") || neutralKeyword;

switch (condition) {
	case "0":
		keyword = "";
		setCookie("keyword",keyword,365*2);
		break;
	case "1":
		keyword = neutralKeyword;
		setCookie("keyword",keyword,365*2);
		break;
	case "2":
		keyword = negativeKeyword;
		setCookie("keyword",keyword,365*2);
		break;
	default:
		keyword = "";
		break;
}

console.log("Keyword: " + keyword);
// Print all url variables
for (var key of urlParams.keys()) {
	console.log(key, urlParams.get(key));
}
var tmVolume = 0.016;
var calVolume=0.02;
var calTimer='';
var totalRuns=1;
var wakelock = new NoSleep();
var pid = getUrlVars()["pid"];
// Validate pid
/*
const regex = /^\d9\d2\d3\d6$/;
if (!regex.test(pid)) {
	alert("Participant ID not found. Make sure you have entered the ID number exactly as you received it, with no extra spaces or non-numeric characters.\nEntered ID: " + pid);
	// Delete pid cookie
	document.cookie = "pid=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
	window.location.replace("/"); // Redirect to index
}*/
var motionSample="";
var xacc=0;
var yacc=0;
var zacc=0;
var changeDetected=false;
var oldx=0;
var oldy=0
var oldz=0;
var motionSum=0;
var motionHistory=[];
var totalHistory=[];
var summedMotion=[];
var timestamps=[];
var running=[];
var startStop=[];
var soundVolume=[];
var SIGMOTION=0.1;
var BUFFERSIZE=800;
var DEBUG_MODE=false;
var STARTTIME=3600;
var STOPTIME=12600;// 3.5 hours
var AROUSAL_OFFSET=0;
var ONTHRESH=0.2;
var TRAINSIZE=4;
var AROUSAL_THRESH=0.99;
var rstim=-1;
var session=0;
const randomizeCondition = false;
var totalStim=0;
var appVersion=5;
var playedSound=false;
motionAuthorized=false;
motionFunctional=false;

STARTTIME=0;
var soundRunning=false;
var soundhandle="";

var epochs=0;

var beat='';
var samplehandle="";

const NumberOfSessions = 1;

if (DEBUG_MODE) {
	BUFFERSIZE=10;
	STARTTIME=10;
	ONTHRESH=0.8;
	}
	
var elem = document.documentElement;



/* View in fullscreen */
function openFullscreen() {
try {
	if (elem.requestFullscreen) {
		elem.requestFullscreen();
	} 
	else if (elem.webkitRequestFullscreen) { /* Safari */
		elem.webkitRequestFullscreen();
	} 
	else if (elem.msRequestFullscreen) { /* IE11 */
		elem.msRequestFullscreen();
	}
	}
	catch (e) {
	
	}
}

/* Close fullscreen */
function closeFullscreen() {
try {
  if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.webkitExitFullscreen) { /* Safari */
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE11 */
    document.msExitFullscreen();
  }
  }
  catch (e) {
  
  }
}

function antiburn() { //move the text around to prevent screen burnin

document.getElementById("antiburnin").style.height = Math.random() * 15+"%";

}

//var supportMsg = document.getElementById('msg');

if ('speechSynthesis' in window) {
	//supportMsg.innerHTML = 'Your browser <strong>supports</strong> speech synthesis.';
	//alert("Your browser supports speech synthesis.");
} else {
	//supportMsg.innerHTML = 'Sorry your browser <strong>does not support</strong> speech synthesis.<br>Try this in <a href="https://www.google.co.uk/intl/en/chrome/browser/canary.html">Chrome Canary</a>.';
  	//supportMsg.classList.add('not-supported');
	alert("Sorry your browser does not support speech synthesis. Try this in Chrome Canary.");
}



function playText(text, vol) {


	var msg = new SpeechSynthesisUtterance();
  
	// Set the text.
	msg.text = text;
	
	// Set the attributes.
	msg.volume = parseFloat(vol);
	window.speechSynthesis.speak(msg);

}

function setConditions() { //set up the condition alternation and session counter
	if (!condition){
		var cc=getCookie("condition");
	}
	else {
		var cc = condition;
	}

	if (cc == '' || cc == null) { // The condition cookie doesn't exist, meaning this is the first time we have visited the page

		if (randomizeCondition) {
			let threshold = Math.random();
			if (threshold > 2/3) {
			condition=0; // Control (placebo)
			keyword = "";
			setCookie("keyword",keyword,365*2);
			}
			else if (threshold > 1/3) {
			condition=1; // Neutral control memory
			keyword = neutralKeyword;
			setCookie("keyword",keyword,365*2);
			setCookie("neutralKeyword",neutralKeyword,365*2);
			}
			else {
			condition=2; // Negative control memory 
			keyword = negativeKeyword;
			setCookie("keyword",keyword,365*2);
			setCookie("negativeKeyword",negativeKeyword,365*2);
			}
			setCookie("condition",condition,365*2);
		}
		else {
			condition=parseInt(cc);
			setCookie("condition",condition,365*2);
		}
		setCookie("session",0,365*2);
		session=0;
		setCookie('lastlaunch', Date.now(), 365*2);
}
else {
	// Wait 15 hours
	// 60 seconds * 60 minutes * 15 hours = 54000 seconds
	if (Date.now() > parseInt(getCookie("lastlaunch"))+(54000*1000) || 
	(DEBUG_MODE && Date.now() > parseInt(getCookie("lastlaunch"))+(30*1000))) {

	/*
	condition=parseInt(cc)+1;
	if (condition > 1) {
	condition=0;
	}*/
	//condition = !condition;
	//condition=parseInt(cc);
	//setCookie("condition",condition,365*2);

	condition=parseInt(cc);

	session=parseInt(getCookie("session"))+1;
	setCookie("session",session,365*2);
	setCookie('lastlaunch', Date.now(), 365*2);
	// Set a new cookie/variable to keep track if we are in a new day and therefore we can proceed with the next session
	setCookie("newDay", 1, 365*2);
	}
	else {
	//session=parseInt(getCookie("session"));
	//condition=parseInt(cc);
	// do nothing
	}

}

}

var context = new AudioContext(); 
function unlock() {
		console.log("unlocking")
		
		// create empty buffer and play it
		var buffer = context.createBuffer(1, 1, 22050);
		var source = context.createBufferSource();
		source.buffer = buffer;
		source.connect(context.destination);

		// play the file. noteOn is the older version of start()
		source.start ? source.start(0) : source.noteOn(0);

		
	}

setConditions();
setCookie("totalStim",0);
setCookie("appVersion",appVersion);


var testButton = document.getElementById("startcalibration");
testButton.addEventListener("click", function() {
	playText("test", 0);
});


function startcal() {
	try { //error handling
	//acquire a wake lock to keep the screen on
		wakelock.enable();
		unlock(); //unlock the audio context
	}
	catch (error) {
	alert("Your browser doesn't support some features used by this app, and it may not work properly. We recommend updating your browser or using a new version of Google Chrome");
	alert(error);
	}

	document.getElementById("startcalibration").disabled = true; 
	document.getElementById("soundReport").style.visibility = "visible";
	document.getElementById("soundReport").style.display = "initial";
	document.getElementById("intro").style.display = "none";

	calTimer = setInterval(function () {

		if (totalRuns >= 1) { //the frist 10 second sare a trap to catch anyone who presses the button too soon

		if (calVolume > 1) {
		alert("Could not calibrate the sound. Try turning up your device's volume, and make sure it is not muted.");
		clearInterval(calTimer);
		location.reload(); 
		}
		
		playText("test", calVolume);
		calVolume=calVolume*2;

		}
		totalRuns++;

	}, 10000);

}

function setCookie(cname, cvalue, exdays) {
	let d = new Date();
	d.setTime(d.getTime() + (exdays*24*60*60*1000));
	let expires = "expires="+ d.toUTCString();
	document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}



function getCookie(cname) {
	let name = cname + "=";
	let decodedCookie = decodeURIComponent(document.cookie);
	let ca = decodedCookie.split(';');
	for(let i = 0; i <ca.length; i++) {
		let c = ca[i];
		while (c.charAt(0) == ' ') {
			c = c.substring(1);
		}
		if (c.indexOf(name) == 0) {
			//return c.substring(name.length, c.length);
			// Decode cookie
			return decodeURIComponent(c.substring(name.length, c.length));
		}
	}
	return "";
}
pid=getCookie("pid");


function reportSound() {
if (totalRuns < 1) {
alert("Wait until you hear the phone make a sound to press the button");
}
else {
setCookie('lastlaunch', Date.now(), 365*2);
clearTimeout(calTimer);
document.getElementById("testMotion").style.visibility = "visible";
document.getElementById("soundcal").style.display = "none";

}
}

function testMotion() {
    if (window.DeviceMotionEvent == null) {
        alert("Unfortunately, your device or browser doesn't support motion data. It may help to try with a different browser");
    } else if (DeviceMotionEvent.requestPermission) {
        DeviceMotionEvent.requestPermission().then(function(state) {
            if (state == "granted") {
                motionAuthorized=true;
				startRecordingMotion();
            } else {
			alert("Motion detection permission is required to proceed");
			}
        }, function(err) {
            1+1
        });
    } else { // no need for permission
        motionAuthorized=true;
		startRecordingMotion();
    }
	
}

function startRecordingMotion() {
	
	//
	//setInterval(simulateMotion,500); //for simulating motion on desktop
	samplehandle=setInterval(tm,1000); //loop that measures the accelerometer every second
	window.addEventListener("devicemotion", function(e) {
	xacc=e.accelerationIncludingGravity.x;
	yacc=e.accelerationIncludingGravity.y;
	zacc=e.accelerationIncludingGravity.z;
	
	});
	
}

function tm() { // TrackMotion
	/*
	Main function for tracking motion, calculating motion percentages, and managing sound playback based on motion.
	*/
	epochs++;

	setCookie("wakeupTime",Date.now(),365*2); //keep updating the wakeup time
	var diff=Math.abs(xacc-oldx)+Math.abs(yacc-oldy)+Math.abs(zacc-oldz);
	if (diff > 0 || DEBUG_MODE) {
		changeDetected=true;
		document.getElementById("startsleep").style.visibility = "visible";
		document.getElementById("testMotion").style.display = "none";
		setInterval(antiburn,600000); //start the burnin protection
		openFullscreen();
		}
	if (epochs == 10 && !changeDetected) {
		alert("Your device doesn't seem to be sending motion data. You may need to give permission for this site to use the motion sensors, or try a different browser/device");
		}
	oldx=xacc;
	oldy=yacc;
	oldz=zacc;
	
	//now write the motion to the motion array
	
	motionperc=getPerc(diff, motionHistory);
	//handle arousal detectionn
	
	if (arousal || (motionperc >= AROUSAL_THRESH && !DEBUG_MODE)) {
	//alert("arousal!");
	if (soundRunning) {
	stopSound();
	arousalMax-=1
	AROUSAL_OFFSET=epochs+300;
	}


	}

	//measure whether any significant motion occurred
	if (Math.abs(diff) >= SIGMOTION) {
		totalHistory.push(1);
	}
	else {
		totalHistory.push(0);
	}
	if (totalHistory.length > BUFFERSIZE) {
		totalHistory.shift();
	}
	motionSum=sumArray(totalHistory);
	if (epochs % 5 == 0) {
		motionHistory.push(diff);
		summedMotion.push(motionSum);
		timestamps.push(Date.now());
		soundVolume.push(calVolume);
		running.push(soundRunning);
	if (soundRunning) {
		totalStim=totalStim+1;
		setCookie("totalStim",totalStim); // keep track of the total number of stimulations
		}
	}
	if (epochs % 3600 == 0) { // mark the person as having gone to sleep (when they go back to the site it should be in wake mode)
	setCookie("stage","wake",365*2);
	}
	if (arousalMax > 0 & (getPerc(motionSum,summedMotion) <= ONTHRESH && 
	epochs >= STARTTIME && 
	epochs <= STOPTIME && // Ask about this (are 2.5 hours enough?)
	epochs > AROUSAL_OFFSET))  {
		rstim=TRAINSIZE;
		startSound();
	}
	else {
	//rstim=rstim-1;
	//if (rstim < 0) {
	stopSound();
	//alert("stopping sound");
	//}
	}
	//alert(diff+","+totalHistory);
	//alert(diff+","+motionSum+","+getPerc(motionSum,summedMotion));
}
	
function simulateMotion() { //simulate motion signals for desktop tes
alert("Simulating");
xacc=Math.random();
yacc=Math.random();
zacc=Math.random();
}
function transmitData() {
    let formData = new FormData();

    formData.append("pid", pid);
    formData.append("motionHistory", motionHistory);
    formData.append("summedMotion", summedMotion);
    formData.append("activeMode", "asleep");
    formData.append("timestamps", timestamps);
    formData.append("running", running);
    formData.append("session", session);
    formData.append("soundVolume", soundVolume);
    formData.append("controlMode", condition);
    formData.append("appVersion", appVersion);

    let request = new XMLHttpRequest();
    request.open("POST", "/sleepdata", true);

    // Set the timeout duration (e.g., 10000 milliseconds = 10 seconds)
    request.timeout = 10000; // Adjust this value based on your requirements

    // Define what happens in case of a timeout
    request.ontimeout = function () {
        alert('Upload timed out. Please try again.'); // Display an alert message
        // If necessary, implement additional logic to handle the timeout, such as retrying the request or ending the application.
        // For example, if you are running this in a browser, you could reload or close the window (not recommended for user experience):
        // window.location.reload(); or window.close();
		window.location.reload();
    };

	/*
    // Optional: Define what happens when the request is successfully completed
    request.onload = function () {
        if (request.status >= 200 && request.status < 300) {
            // Handle success scenario
            console.log('Data uploaded successfully.');
        } else {
            // Handle failure scenario
            console.log('Failed to upload data.');
        }
    };*/

    // Optional: Define what happens in case of an error (e.g., network issues)
    request.onerror = function () {
        alert('Upload failed due to a network error.');
        // Implement logic to handle network errors
		window.location.reload();
    };

    request.send(formData);

	// Empty the arrays
	motionHistory = [];
	summedMotion = [];
	timestamps = [];
	running = [];
	soundVolume = [];
}

function wake(force=false) { //user is awake, redirect them to the wake page
	// Wait 3 hours
	// 60 seconds * 60 minutes * 3 hours = 10800 seconds
	if (force = false && !(Date.now() > (parseInt(getCookie("lastlaunch"))+(10800*1000))) || 
	(DEBUG_MODE && Date.now() > parseInt(getCookie("lastlaunch"))+(30*1000))) {
		alert("Please sleep for at least 3 hours before waking up");
		alert("Last launch: " + getCookie("lastlaunch"));
		alert("Current time: " + Date.now());
		alert("Difference: " + (Date.now() - parseInt(getCookie("lastlaunch"))));
		return;
	}
	// TODO dialog confirmation to wake up (are you sure you want to end the session?)

	// Confirm dialog
	if (!confirm("Are you sure you want to end the session?")) {
		return;
	}
	
	closeFullscreen();
	//setCookie("stage","wake",365*2);
	document.getElementById("waitdt").style.visibility = "visible";
	setTimeout(function() {
		let formData = new FormData();
		formData.append("pid", pid);
		formData.append("motionHistory",motionHistory);
		formData.append("summedMotion",summedMotion);
		formData.append("activeMode", "wake");
		formData.append("timestamps",timestamps);
		formData.append("running",running);
		formData.append("session",session);
		formData.append("soundVolume",soundVolume);
		formData.append("controlMode",condition);
		formData.append("appVersion",appVersion);
		let request = new XMLHttpRequest();
		request.open("POST", "/sleepdata",false);
		request.send(formData);
		if (request.status == 200) {
			setCookie("newDay", 0, 365*2);
			if (parseInt(getCookie("session")) >= NumberOfSessions) { // TODO hard condition ? -> already completed, redirect always to survey
				if (playedSound || true){
					setCookie("stage","wake",365*2);
					window.location.replace("https://mit.co1.qualtrics.com/jfe/form/SV_bOgIpx4VGTUrvW6"+ "?pid=" + pid+"&session="+session+"&condition="+condition+"&appVersion="+appVersion+"&neutralKeyword="+neutralKeyword+"&negativeKeyword="+negativeKeyword);
				}
				else{
					// try again TODO
					alert("Something went wrong, please try again");
					setCookie("stage","sleep",365*2);
				}
			}
			else {
				setCookie("stage","wake",365*2);
				window.location.replace("https://mit.co1.qualtrics.com/jfe/form/SV_bOgIpx4VGTUrvW6"+ "?pid=" + pid+"&session="+session+"&condition="+condition+"&appVersion="+appVersion+"&neutralKeyword="+neutralKeyword+"&negativeKeyword="+negativeKeyword);
			}
		}
		else {
			alert("Error: " + request.status);
			document.getElementById("waitdt").style.visibility = "hidden";
			alert("Unable to connect to the server; make sure you have a network connection!");
		}
	},500);
	
} //give a delay for the loading spiral to show up before we actually try to send data

function getPerc(sample, buffer) {
	/*
		Calculates the percentage of array elements less than or equal to a given sample.
	*/
	var subtotal=0.0;
	for (var i=0; i< buffer.length; i++) {
		if (buffer[i] <= sample) {
			subtotal=subtotal+1;
		}
	}
	return subtotal/buffer.length;
} 

function sumArray(arr) {
let sum = 0;

for (let index = 0; index < arr.length; index++) {
	sum += arr[index];
}
return sum;
}

function startSound() {
	
	if (!soundRunning) {
		soundRunning=true;
		startStop.push(Date.now());
		if (condition == 0) {
			return; // don't play any sound for the control condition
			// That beign said, we still want to record the data as we still want to know when the user is awake to compare it
		}
		soundhandle = setInterval(function () {
			playedSound=true;
			playText(keyword, tmVolume);
			tmVolume = tmVolume * 2
		}, 10000)
		//}
	}
}

function stopSound() {
	startStop.push(Date.now());
	soundRunning=false;
	//if (condition < 1) {
	clearTimeout(soundhandle);
	//}
}

function simulateArousal() {
	arousal = true;
	console.log("Simulating arousal");
}

setCookie("stage","sleep",365*2);
const n = 5; // minutes
setInterval(transmitData,n*60*1000); // Every n minutes

document.addEventListener('visibilitychange', function() {
    if (document.visibilityState === 'hidden') {
        alert('You have left the page, hence the experiment is ending.');
		wake(force=true);
    }
});

</script>

</html>

